<mat-sidenav #navigationDrawer>
    <button mat-icon-button color="warn" class="cancel-button" (click)="navigationDrawer.toggle()" tabindex="-1">
        <mat-icon>cancel</mat-icon>
    </button>

    <mat-nav-list #menuSelection>
        <div mat-subheader>Account</div>
        <mat-list-item routerLink="/user/plan">
            <mat-icon color="accent" mat-list-icon>label_important</mat-icon>
            <div mat-line (click)="navigationDrawer.toggle()" tabindex="-1">Register</div>
        </mat-list-item>
        <mat-list-item routerLink="/user/login">
            <mat-icon color="accent" mat-list-icon>label_important</mat-icon>
            <div mat-line (click)="navigationDrawer.toggle()" tabindex="-1">Login</div>
        </mat-list-item>

        <mat-divider></mat-divider>

        <div mat-subheader>Apps</div>
        <mat-list-item *ngFor="let widget of staticData.getWidgetInfo()" [routerLink]="widget.route">
            <mat-icon color="accent" matListIcon >label_important</mat-icon>
            <div matLine (click)="navigationDrawer.toggle()">{{widget.name}}</div>
        
        </mat-list-item>

        <mat-divider></mat-divider>

        <div mat-subheader>Documentation</div>
        <mat-list-item *ngFor="let doc of staticData.getDocInfo()">
          <mat-icon color="accent" mat-list-icon>label_important</mat-icon>
          <a mat-line [href]="doc.route" (click)="navigationDrawer.toggle()" target="_blank">{{doc.name}}</a>
        </mat-list-item>

    </mat-nav-list>
</mat-sidenav>
