<header class="header">
    <mat-toolbar color="basic">
        <button mat-icon-button color="accent" aria-label="expansion-toggle"
                (click) = "toggleMenu()">
            <mat-icon>menu</mat-icon>
        </button>
        
        <span class="spacer"></span>

        <h1><a routerLink="/">scrilla {{title}}</a></h1>

        <span class="spacer"></span>

        <button class="contact-button" mat-icon-button color="accent" aria-label="contact-button"
            (click)="toggleMenu()">
            <mat-icon>contact_support</mat-icon>
        </button>
    </mat-toolbar>
</header>