<div class="page-container">
    <div class="title">
        <div>Select A Plan</div>
    </div>
    <div class="register-content">
        <div class="register-item">
            <mat-card id="free-tier-plan" class="mat-elevation-z10" [@fold]>
                <mat-card-title>Free Tier</mat-card-title>
                <mat-card-subtitle>Try Before You Buy</mat-card-subtitle>
                <mat-card-content class="wrap">
                    <div class="blurb">
                        Everything you need to start managing your own investments. 
                    </div>

                    <hr>

                    <mat-list id="free-list" dense>
                        <mat-list-item id="free-item-1">
                            <mat-icon mat-list-icon color="accent">attach_money</mat-icon>
                            <div mat-line  matTooltipPosition="above"
                                matTooltip="A full list of functions can be found in the documentation.">
                                <span>Access To All Analysis Functions
                                <mat-icon class="helper">help</mat-icon></span>
                            </div>
                        </mat-list-item>
                        <mat-list-item id="free-item-2">
                            <mat-icon mat-list-icon color="accent">attach_money</mat-icon>
                            <div mat-line  matTooltipPosition="above"
                                matTooltip="Upgrade to Paid Tier at any time for greater access!">
                                <span>5 Requests/Minute - 50 Request/Day
                                <mat-icon class="helper">help</mat-icon></span>
                            </div>
                        </mat-list-item>
                    </mat-list>

                </mat-card-content>
                
                <mat-card-actions>
                    <button class="start-button" mat-raised-button
                        [@scale]="freeStartBtnAnimationControl.scale"
                        (mouseenter)="freeStartBtnAnimationControl = animator.animateScale()"
                        (mouseleave)="freeStartBtnAnimationControl = animator.initAnimation()">
                        Get Started <mat-icon>chevron_right</mat-icon>
                    </button>
                </mat-card-actions>

            </mat-card>
        </div>
        <div class="register-item">
            <mat-card id="paid-tier-plan" class="mat-elevation-z10" [@fold]>
                <mat-card-title>Paid Tier</mat-card-title>
                <mat-card-subtitle>$5 per month</mat-card-subtitle>
                <mat-card-content>

                    <div class="blurb">
                        Built to scale for personal portfolios, small businesses and high-throughput organizations.
                    </div>
                    
                    <hr>

                    <mat-list id="paid-list" dense>
                        <mat-list-item id="paid-item-1">
                            <mat-icon mat-list-icon color="accent">attach_money</mat-icon>
                            <div mat-line matTooltipPosition="above"
                                matTooltip="A full list of functions can be found in the documentation.">
                                <span>
                                    Access To All Analysis Functions
                                    <mat-icon class="helper">help</mat-icon>
                                </span>
                            </div>
                        </mat-list-item>
                        <mat-list-item id="paid-item-2">
                            <mat-icon mat-list-icon color="accent">attach_money</mat-icon>
                            <div mat-line  matTooltipPosition="above"
                                matTooltip="If you need a higher throughput, contact support.">
                                <span>60 Requests/Minute - 1000 Request/Day
                                <mat-icon class="helper">help</mat-icon></span>
                            </div>
                        </mat-list-item>
                        <mat-list-item id="paid-item-3">
                            <mat-icon mat-list-icon color="accent">attach_money</mat-icon>
                            <div mat-line matTooltipPosition="above"
                                            matTooltip="Submit a ticket through your account page or email support directly.">
                                <span>Responsive Tech Support 
                                    <mat-icon class="helper">help</mat-icon>
                                </span>
                            </div>
                        </mat-list-item>
                        <mat-list-item id="paid-item-3">
                            <mat-icon mat-list-icon color="accent">attach_money</mat-icon>
                            <div mat-line matTooltipPosition="above"
                                            matTooltip="Your requests for new library or UI features take priority over others">
                                <span>Priority Feature Request
                                    <mat-icon class="helper">help</mat-icon>
                                </span>
                            </div>
                        </mat-list-item>
                    </mat-list>

                </mat-card-content>

                <mat-card-actions>
                    <button class="start-button" mat-raised-button
                    [@scale]="paidStartBtnAnimationControl.scale"
                    (mouseenter)="paidStartBtnAnimationControl = animator.animateScale()"
                    (mouseleave)="paidStartBtnAnimationControl = animator.initAnimation()">
                        Get Started <mat-icon>chevron_right</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>