html, body { height: 100%;  margin: 0; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x:hidden; overflow-y: hidden; }

.page {
    display: flex;
    flex-direction: column;
    height:100%;
}
.page .header{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 20%;
}
.page .content{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
.page .footer{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 5%;
}

.fill{ width: 100%; height: 100%;}
.fill-width{ width:100%; }
.fill-height{ height: 100%; }
.spacer {
    flex: 1 1 auto;
}