@use '~@angular/material' as mat;
@use 'sass:map';

@use './app/app.theme' as app;
@use './app/components/splash/splash.theme' as splash;
@use './app/user/components/plan/plan.theme' as plan;
@use './app/user/components/login/login.theme' as login;
@use './app/user/components/account/account.theme' as account;
@use './app/analysis/components/widgets/widgets.theme' as widgets;
@use './app/analysis/components/results/results.theme' as results;

@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-grey);
$accent: mat-palette($mat-green);
$warn: mat-palette($mat-red);

$theme: mat-dark-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include app.theme($theme);
@include splash.theme($theme);
@include widgets.theme($theme);
@include results.theme($theme);
@include plan.theme($theme);
@include login.theme($theme);
@include account.theme($theme);