<div class="splash-container">

    <div class="splash-card mat-elevation-z0">

        <div class="title-pane"><h2>asset management made easy</h2></div>

        <div class="content-pane">
            <button mat-icon-button
                [@scale]="this.leftNavAnimationControl.scale"
                (mouseenter)="this.leftNavAnimationControl = animator.animate()"
                (mouseleave)="this.leftNavAnimationControl = animator.void()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <div>
                text goes here
            </div>
            <button mat-icon-button
                [@scale]="this.rightNavAnimationControl.scale"
                (mouseenter)="this.rightNavAnimationControl = animator.animate()"
                (mouseleave)="this.rightNavAnimationControl = animator.void()">
                <mat-icon>chevron_right</mat-icon>
            </button>

        </div>

        <div class="button-pane">
            <button mat-raised-button class="mat-elevation-z2" color="accent"
                [@scale]="this.registerBtnAnimationControl.scale" 
                [@highlight]="this.registerBtnAnimationControl.highlight"
                (mouseenter)="this.registerBtnAnimationControl = animator.animate()" 
                (mouseleave)="this.registerBtnAnimationControl = animator.void()">
                Register</button>
            <button mat-raised-button class="mat-elevation-z2" color="accent"
                [@scale]="this.tryBtnAnimationControl.scale" 
                [@highlight]="this.tryBtnAnimationControl.highlight"
                (mouseenter)="this.tryBtnAnimationControl = animator.animate()" 
                (mouseleave)="this.tryBtnAnimationControl = animator.void()">Try It Out</button>
        </div>

    </div>

</div>