<div class="splash-container" [@opacity] [@fold]> 

    <div class="splash-card mat-elevation-z0">

        <div class="title-pane"><h2>Asset Management Made Easy</h2></div>

        <div class="content-pane">
            <button class="left-chevron" mat-icon-button
                [@scale]="this.leftNavAnimationControl.scale"
                (mouseenter)="this.leftNavAnimationControl = animator.animateScale()"
                (mouseleave)="this.leftNavAnimationControl = animator.initAnimation()"
                (click)="this.decrementPaneIndex()">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <div class="translation-container">
                <div class="translation-item" *ngFor="let blurb of paneBlurbs; let i = index"
                    [ngStyle]="paneIndex == i ? { 'opacity': '1' } : { opacity: '0' } "
                    [@translateOn]="paneAnimationControls[i].translateOn"
                    [@translateOff]="paneAnimationControls[i].translateOff">
                    <div class="item-text">
                        {{blurb}}
                    </div>
                </div>
            </div>

            <button class="right-chevron" mat-icon-button color="accent"
                [@scale]="this.rightNavAnimationControl.scale"
                (mouseenter)="this.rightNavAnimationControl = animator.animateScale()"
                (mouseleave)="this.rightNavAnimationControl = animator.initAnimation()"
                (click)="this.incrementPaneIndex()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>

        <div class="button-pane">
            <button mat-raised-button class="mat-elevation-z2" color="accent"
                [@scale]="this.registerBtnAnimationControl.scale" 
                [@highlight]="this.registerBtnAnimationControl.highlight"
                (mouseenter)="this.registerBtnAnimationControl = this.animateButtons()" 
                (mouseleave)="this.registerBtnAnimationControl = animator.initAnimation()"
                (click)="navigateToRegister()">
                Register</button>

            <button mat-raised-button class="mat-elevation-z2" color="accent"
                [@scale]="this.tryBtnAnimationControl.scale" 
                [@highlight]="this.tryBtnAnimationControl.highlight"
                (mouseenter)="this.tryBtnAnimationControl = this.animateButtons()" 
                (mouseleave)="this.tryBtnAnimationControl = animator.initAnimation()"
                (click)="navigateToOptimize()">Try It Out</button>
        </div>

    </div>

</div>