<div class="widget-container">
    <mat-card class="input-card" [@toHeight]="this.inputCardAnimationControl.toHeight">
        <mat-card-title>
            <div class="title">
                <div>Input</div>
                <div class="action-group">
                    <div class="action-button">
                        <button mat-raised-button color="accent"
                            [@scale]="calcBtnAnimationControl.scale"
                            [disabled]="this.tickers.length === 0 || (this.tickers.length > 0 && this.holdings !== undefined)"
                            (mouseenter)="this.calcBtnAnimationControl = this.animator.animateScale()"
                            (mouseleave)="this.calcBtnAnimationControl = this.animator.initAnimation()"
                            (click)="this.calculate()">
                            Calculate
                        </button>
                    </div>
                </div>
            </div>
            </mat-card-title>
        <mat-card-content>
            <div class="arguments-container">
                <section id="optional-toggle" [formGroup]="this.optionalArguments" class="item mat-elevation-z2">
                    <h2>Optional Input</h2>
                    <div formGroupName="date">
                        <mat-checkbox formControlName="enabled" aria-label="Date Range Selection, Optional"
                            matTooltip="Sample data defaults to last 100 trading days if no date range is specified.">
                        Date Range
                        </mat-checkbox>
                    </div>
                </section>

                <span id="ticker-input" class="item mat-elevation-z2">
                    <app-tickers (tickers)="this.setTickers($event)"></app-tickers>
                </span>

                <span id="date-input" class="item mat-elevation-z3" [@fold]
                        *ngIf="optionalArguments.get('date.enabled')?.value">
                    <app-date (dates)="this.setDates($event)"></app-date>
                </span>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-progress-bar *ngIf="loading" mode="buffer" color="accent"></mat-progress-bar>

    <mat-card class="output-card" [@toHeight]="this.outputCardAnimationControl.toHeight">
        <mat-card-title>
            <div class="title">
                <div>
                    Output
                </div>
                <div class="action-button-group">
                    <div class="action-button">
                        <button mat-raised-button color="warn"
                            [@scale]="this.clearBtnAnimationControl.scale"
                            [disabled]="!this.holdings"
                            (mouseenter)="this.clearBtnAnimationControl = this.animator.animateScale()"
                            (mouseleave)="this.clearBtnAnimationControl = this.animator.initAnimation()"
                            (click)="this.clear()">
                            Clear
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div class="result-container">
                <div class="item side-item">
                    <app-constraints [tickers]="this.tickers" [dates]="this.dates" [disabled]="this.holdings !== undefined"
                                    (removeTicker)="this.removeTicker($event)" (removeDates)="this.removeDates()">
                    </app-constraints>
                </div>
                <div class="item main-item">
                    <app-profile *ngIf="this.holdings" [holdings]="this.holdings"></app-profile>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>