

<mat-card id="tickers-card">
    <mat-card-title>{{ single ? 'Ticker' : 'Tickers' }}</mat-card-title>
    <mat-card-subtitle>Equity or Cryptocurrency</mat-card-subtitle>
    <mat-card-content>
        <mat-form-field appearance="fill" class="fill-width">
            <mat-label>Enter a list of tickers</mat-label>
            <input matInput type="text" [formControl]="tickerControl"
                    matTooltip="{{ single ? 'Enter a single ticker symbol' : 'Separate ticker symbols with a comma' }}"
                    (keyup.enter)="parseTickers()">
            <button *ngIf="tickerControl.value && tickerControl.touched" matSuffix mat-icon-button aria-label="Clear" 
                (click)="tickerControl.reset()">
            <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="tickerControl.invalid && (tickerControl.dirty || tickerControl.touched)">
                <div *ngIf="tickerControl.errors?.required">Tickers required!</div>
                <div *ngIf="tickerControl.errors?.multipleTickers">This function only works for one ticker at a time</div>
            </mat-error>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-icon-button color="accent" matTooltip="Add tickers"
            *ngIf="tickerControl.value && !tickerControl.invalid && (tickerControl.dirty || tickerControl.touched)"
            #tutorialTooltip="matTooltip"
            matTooltip="4. Click the Add button to store the assets in your portfolio"  
            matTooltipDisabled="true"
            [@scale]="addAnimationControl.scale" [disabled]="this.disabled"
            (mouseenter)="addAnimationControl = this.animator.animateScale()"
            (mouseleave)="addAnimationControl = this.animator.initAnimation()"
            (click)="parseTickers()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
