

<div class="tickers-container">
    <div class="ticker-input">
        <mat-card class="ticker-card">
            <mat-card-title>Ticker Symbols</mat-card-title>
            <mat-card-content class="ticker-card-content">
                <div>
                    <mat-form-field appearance="fill" class="fill-width">
                        <mat-label>Enter a list of tickers</mat-label>
                        <input matInput type="text"  matTooltip="Separate ticker symbols with a comma"
                            [(ngModel)]="rawInput" (keyup.enter)="parseTickers()">
                        <button *ngIf="rawInput" matSuffix mat-icon-button aria-label="Clear" 
                            (click)="rawInput=''">
                        <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-icon-button color="accent" matTooltip="Add tickers"
                    (click)="parseTickers()">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>