<div class="account-container">
    <div class="card-container">
        <mat-card class="card">
            <mat-card-title class="title-container">
                <div>Account</div>
                <div>
                    <button mat-raised-button class="upgrade-button">
                        upgrade
                    </button>
                </div>
            </mat-card-title>

            <mat-card-content class="card-content mat-elevation-z3">
                <span>Login Information</span>
                <hr>
                <div class="info-container">stuff goes here</div>
                <hr>
                <span>API Key</span>
                <hr>
                <div class="key-container">stuff goes here</div>
            </mat-card-content>
        </mat-card>

        

    </div>
</div>