<mat-card id="date-card">
    <mat-card-title>Date Range</mat-card-title>
    <mat-card-subtitle>Historical Sample</mat-card-subtitle>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker"
                matTooltip="Select a date range to use as a historical sample">
              <input matStartDate formControlName="start" placeholder="Start date">
              <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            
            <mat-error *ngIf="range.controls.start.invalid && (range.controls.start.dirty || range.controls.start.touched) ||
                                range.controls.end.invalid && (range.controls.end.dirty || range.controls.start.dirty)">
                <div *ngIf="range.controls.start.errors?.futureDates || range.controls.end.errors?.futureDates">
                    Historical sample cannot contain future dates!
                </div>
            </mat-error>
            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-icon-button color="accent" matTooltip="Add date range"
            [@scale]="addAnimationControl.scale"
            (mouseenter)="addAnimationControl = this.animator.animateScale()"
            (mouseleave)="addAnimationControl = this.animator.initAnimation()"
            (click)="parseDates()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-actions>

</mat-card>