<div class="optimizer-container">

    <div class="arguments-container">
        <div class="item">
            <app-tickers></app-tickers>
        </div>
        <div class="item">
            <app-scalar [currency]="false" 
                        title="Target Return"></app-scalar>
        </div>
        <div class="item">
            <app-scalar [currency]="true"
                        title="Total Investment"></app-scalar>
        </div>
        <div class=item>
            <app-date></app-date>
        </div>
    </div>

    <div class="results-container">
        results go here
    </div>
</div>
