
.optimizer-container{
    width: 100%; height: 100%;
    display: flex; flex-direction: column;
    justify-content: space-evenly;
}
.optimizer-container .mat-card-title{ font-size: 14px;}
.optimizer-container .mat-card-subtitle, 
.optimizer-container h2{ margin-left: 2.5%; font-size: 12px; margin-bottom: 0;}
.arguments-container{
    height: 50%;
    display: flex; flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.arguments-container .item{ padding: 0.5%; margin:0.5%;}
.arguments-container .mat-button-toggle{ font-size: 10px; word-wrap:normal;}
.input-card, .output-card{ 
    overflow: auto;
    padding: 8px;
    margin-right: 0.5%; margin-left: 0.5%;
    max-height: 95%; 
}
.input-card{
    min-height: 47.5%
}
.output-card{ min-height: 42.5%; }
.output-card .title{ display: flex; flex-direction: row; justify-content: space-between;}
.output-card .mat-card-content{
    min-height: 57.5%;
}
.output-card .output-button-group{
    display: flex; flex-direction: row;
    justify-content: flex-end;
}
.output-card .output-button-group .output-button{
    padding-left: 1%; padding-right: 1%;
}
