<div class="widget-container">
    <mat-card class="input-card" [@toHeight]="this.inputCardAnimationControl.toHeight">
        <mat-card-title>
            <div class="title">
                <div>Input</div>
                <div class="action-group">
                    <div class="action-button">
                        <button mat-raised-button color="accent"
                            matTooltip="Optimize the current portfolio of tickers"
                            [disabled]="tickers.length === 0 || (tickers.length > 0 && portfolio !== undefined) ||
                                        ( modeSelection.value === modes.minimizeConditionalValueAtRisk && (!probability || !expiry)) "
                            [@scale]="optimizeBtnAnimationControl.scale"
                            (mouseenter)="optimizeBtnAnimationControl = animator.animateScale()"
                            (mouseleave)="optimizeBtnAnimationControl = animator.initAnimation()"
                            (click)="optimize()">
                            Optimize
                        </button>
                    </div>
                </div>
            </div>

            
        </mat-card-title>
        <mat-card-subtitle>Mode: {{modeSelection.value.title}} </mat-card-subtitle>
        <mat-card-content>
            <div class="arguments-container">
                <section id="mode-selection" class="item mat-elevation-z3">
                    <h2>Mode</h2>
                    <mat-button-toggle-group aria-label="Mode Selection" vertical 
                                            [formControl]="modeSelection">
                        <mat-button-toggle [value]="modes.minimizeVariance"
                                            matTooltip="Minimize Portfolio Variance"
                                            aria-label="Minimize Portfolio Variance">
                            <mat-icon [color]="modeSelection.value === modes.minimizeVariance ? 'accent' : 'primary'">filter_1</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle [value]="modes.maximizeSharpeRatio"
                                            matTooltip="Maximize Portfolio Sharpe Ratio"
                                            aria-label="Maximize Portfolio Sharpe Ratio">
                            <mat-icon [color]="modeSelection.value === modes.maximizeSharpeRatio ? 'accent' : 'primary' ">filter_2</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle [value]="modes.minimizeConditionalValueAtRisk"
                                            matTooltip="Minimize Portfolio Conditional Value At Risk"
                                            aria-label="Minimize Portfolio Conditional Value at Risk">
                            <mat-icon [color]="modeSelection.value === modes.minimizeConditionalValueAtRisk ?'accent' : 'primary' ">filter_3</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </section>

                <section id="optional-toggle" class="item mat-elevation-z2" [formGroup]="optionalArguments">
                    <h2>Optional Input</h2>
                    <div formGroupName="target">
                        <mat-checkbox formControlName="enabled" aria-label="Target Return Input, Optional"
                                     matTooltip="Portfolio volatility will be minimized if no target return is specified.">
                        Target Return
                        </mat-checkbox>
                    </div>
                    <div formGroupName="invest">
                        <mat-checkbox formControlName="enabled" aria-label="Total Investent Input, Optional"
                                    matTooltip="Portfolio allocations will be given in percentage terms if no investment is specified.">
                        Total Investment
                        </mat-checkbox>
                    </div>
                    <div formGroupName="date">
                        <mat-checkbox formControlName="enabled" aria-label="Date Range Selection, Optional"
                                    matTooltip="Sample data defaults to last 100 trading days if no date range is specified.">
                        Date Range
                        </mat-checkbox>
                    </div>
                </section>

                <span id="ticker-input" class="item mat-elevation-z2">
                    <app-tickers [disabled]="portfolio !== undefined"
                                (tickers)="setTickers($event)"></app-tickers>
                </span>

                <span id="probability-input" class="item mat-elevation-z2" [@fold]
                        *ngIf="modeSelection.value === modes.minimizeConditionalValueAtRisk">
                    <app-scalar title="Probability of Loss"
                                [disabled]="portfolio !== undefined"
                                [currency]="false"
                                [bounds]="[0,1]"
                                (scalar)="setProbability($event)"></app-scalar>
                </span>

                <span id="expiry-input" class="item mat-elevation-z3" [@fold]
                        *ngIf="modeSelection.value === modes.minimizeConditionalValueAtRisk">
                    <app-scalar title="Time Until Loss"
                                [disabled]="portfolio !== undefined"
                                [currency]="false"
                                (scalar)="setExpiry($event)"></app-scalar>
                </span>

                <span id="target-input" class="item mat-elevation-z2" [@fold]
                        *ngIf="optionalArguments.get('target.enabled')?.value">
                    <app-scalar title="Target Return"
                                [disabled]="portfolio !== undefined"
                                [currency]="false"
                                (scalar)="setTarget($event)" ></app-scalar>
                </span>

                <span id="invest-input" class="item mat-elevation-z2" [@fold]
                        *ngIf="optionalArguments.get('invest.enabled')?.value">
                    <app-scalar title="Total Investment"
                                [disabled]="portfolio !== undefined"
                                [currency]="true"
                                (scalar)="setInvestment($event)"></app-scalar>
                </span>

                <span id="date-input" class="item mat-elevation-z3" [@fold]
                        *ngIf="optionalArguments.get('date.enabled')?.value">
                    <app-date [disabled]="portfolio !== undefined" 
                            (dates)="setDates($event)"></app-date>
                </span>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="output-card" [@toHeight]="this.outputCardAnimationControl.toHeight">
        <mat-card-title>
            <div class="title">
                <div>
                    Output
                </div>
                <div class="action-button-group">
                    <div class="action-button">
                        <button mat-raised-button color="warn"
                            [disabled]="!portfolio"
                            [@scale]="clearBtnAnimationControl.scale"
                            (mouseenter)="clearBtnAnimationControl = animator.animateScale()"
                            (mouseleave)="clearBtnAnimationControl = animator.initAnimation()"
                            (click)="clear()">
                            Clear
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div class="result-container">
                <div class="item side-item">
                    <app-constraints [disabled]="portfolio !== undefined"
                                     [tickers]="this.tickers" [dates]="this.dates"
                                     [invest]="this.totalInvestment" [target]="this.targetReturn" 
                                     [probability]="this.probability" [expiry]="this.expiry"
                                     (removeTicker)="removeTicker($event)" (removeDates)="removeDates()"
                                     (removeTarget)="removeTarget()" (removeInvest)="removeInvestment()"
                                     (removeProbability)="removeProbability()" (removeExpiry)="removeExpiry()">
                    </app-constraints>
                </div>
                <div class="item main-item">
                    <app-allocation *ngIf="this.portfolio" [holdings]="this.portfolio.holdings">
                    </app-allocation>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</div>