
<mat-card id="scalar-card">
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{ currency ? 'Currency' : 'Decimal' }} Amount</mat-card-subtitle>

    <mat-card-content>
        <mat-form-field appearance="fill" class="fill-width">
            <mat-label>Enter a number</mat-label>
            <input matInput type="text" *ngIf="currency"
                mvndrMatCurrencyFormat 
                [allowNegative]="false"
                [currencyCode]="'USD'"
                matTooltip="Enter the investment total" 
                [(ngModel)]="rawInput" 
                (keyup.enter)="rawInput = ''">
            <input matInput type="number" *ngIf="!currency"
                matTooltip="Enter annualized rate"
                [(ngModel)]="rawInput"
                (keyup.enter)="rawInput = ''">
            <button *ngIf="rawInput" matSuffix mat-icon-button aria-label="Clear" 
                (click)="rawInput=''">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-icon-button color="accent" matTooltip="Add tickers"
            (click)="parseScalar()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
