
<mat-card id="scalar-card">
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{ currency ? 'Currency' : 'Decimal' }} Amount</mat-card-subtitle>

    <mat-card-content>
        <mat-form-field appearance="fill" class="fill-width">
            <mat-label>Enter a number</mat-label>
            <input matInput type="text" *ngIf="currency" [formControl]="scalarControl"
                mvndrMatCurrencyFormat  [allowNegative]="false" [currencyCode]="'USD'"
                [matTooltip]="toolTipText" 
                (keyup.enter)="parseScalar()">
            <input matInput type="number" *ngIf="!currency" [formControl]="this.scalarControl"
                [matTooltip]="toolTipText"
                (keyup.enter)="parseScalar()">
            <button matSuffix mat-icon-button aria-label="Clear"
                *ngIf="scalarControl.value && scalarControl.touched" 
                (click)="scalarControl.reset()">
                <mat-icon>close</mat-icon>
            </button>
        <mat-error *ngIf="scalarControl.invalid && (scalarControl.dirty || scalarControl.touched)">
            <div *ngIf="required && scalarControl.errors?.required">{{title}} is required!</div>
            <div *ngIf="bounds && scalarControl.errors?.min">Must be greater than {{bounds[0]}}!</div>
            <div *ngIf="bounds && scalarControl.errors?.max">Must be less than {{bounds[1]}}!</div>
        </mat-error>
        </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-icon-button color="accent" matTooltip="Add constraint to portfolio"
            *ngIf="this.scalarControl.value && !this.scalarControl.invalid && (this.scalarControl.touched || this.scalarControl.dirty)"
            [@scale]="addAnimationControl.scale" [disabled]="this.disabled"
            (mouseenter)="addAnimationControl = this.animator.animateScale()"
            (mouseleave)="addAnimationControl = this.animator.initAnimation()"
            (click)="parseScalar()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
