<div class="page-container">
    <div class="title">
        Select A Plan
    </div>
    <div class="row">
        <div class="item">
            <mat-card id="free-tier-plan" class="card">
                <mat-card-title>Free Tier</mat-card-title>
                <mat-card-subtitle>Try Before You Buy</mat-card-subtitle>
                <mat-card-content>
                    <div class="blurb">
                        Everything you need to start managing your own investments. 
                    </div>

                    <mat-divider></mat-divider>

                    <mat-list>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent">attach_money</mat-icon>
                            <div mat-line matTooltip="A full list of functions can be found in the documentation.">
                                <span>Access To All Analysis Functions
                                <mat-icon class="helper">help</mat-icon></span>
                            </div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent">attach_money</mat-icon>
                            <div mat-line matTooltip="Upgrade at any time!">
                                <span>5 Requests Per Minute
                                <mat-icon class="helper">help</mat-icon></span>
                            </div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent">attach_money</mat-icon>
                            <div mat-line matTooltip="hello" matTooltipPosition="above">
                                <span>
                                    100 Requests Per Day
                                    <mat-icon class="helper">help</mat-icon>
                                </span>
                            </div>
                        </mat-list-item>
                    </mat-list>

                </mat-card-content>
                
                <mat-card-actions>
                    <button class="start-button" mat-raised-button>Get Started <mat-icon>chevron_right</mat-icon></button>
                </mat-card-actions>

            </mat-card>
        </div>
        <div class="item">
            <mat-card id="paid-tier-plan" class="card">
                <mat-card-title>Paid Tier</mat-card-title>
                <mat-card-subtitle>$9 per month</mat-card-subtitle>
                <mat-card-content>

                    <mat-divider></mat-divider>


                </mat-card-content>
            </mat-card>
        </div>

    </div>
</div>