.stepper{
    position: absolute;
    top: 10%;
    left: 10%;
}

.widget-container{
    width: 100%; height: 100%;
    display: flex; flex-direction: column;
    justify-content: flex-start;
}
.widget-container .mat-card-title{ font-size: 14px;}
.widget-container .mat-card-subtitle, 
.widget-container h2{ margin-left: 2.5%; font-size: 12px; margin-bottom: 0;}

.arguments-container{
    height: 50%;
    display: flex; flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.arguments-container .item{ padding: 0.5%; margin:0.5%;}
.arguments-container .mat-button-toggle{ font-size: 10px;}
.input-card, .output-card{
    overflow: auto;
    padding: 8px;
    margin-right: 0.5%; margin-left: 0.5%;
}
.input-card{
    height: 60%;
}
.output-card{
    height: 40%;
}
.output-card .title, .input-card .title{ display: flex; flex-direction: row; justify-content: space-between;}
.output-card .mat-card-content{
    min-height: 50%;
}
.action-group{
    display: flex; flex-direction: row;
    justify-content: flex-end;
}
.action-group .action-button{
    margin-left: 15%; margin-right: 2.5%;
}

.result-container{
    width: 100%; 
    display: flex; flex-direction: row;
    flex-wrap: wrap; justify-content: flex-start;
}
.result-container .item{
    padding: 0.5%; margin:0.5%;
}
.result-container .side-item{
    max-width: 20%;
    min-width: 15%;
}
.result-container .main-item{
    min-width: 75%;
}