.vertical-container{
    display: flex; flex-direction: column;
    justify-content: center;
}
.row-container{
    display: flex; flex-direction: row;
    justify-content:space-evenly;
}
.ticker-card .mat-chip { font-size: 10px; }

.card .mat-card-title{ font-size: 12px; }
.card .value-container{
    display: flex; flex-direction: row;
    justify-content: space-between; align-items:center;
}
.card { overflow: auto; }

.data-table{
    min-width: 69%;
}
.pie-chart{
    margin-left: 2.5%;
    min-width: 30%;
    overflow: auto;
}
table{ width: 100%; height: 100%;}