<div class="widget-container" [@opacity] [@fold]>
    <mat-card class="input-card" [@toHeight]="this.inputCardAnimationControl.toHeight">
        <mat-card-title class="title">
                <div>Input</div>    
                <div class="action-group">
                    <div>
                        <mat-form-field class="dropdown" appearance="fill">
                            <mat-label>Pricing Model</mat-label>
                            <mat-select [formControl]="this.modeSelection" required>
                                <mat-option *ngFor="let mode of modes" [value]="mode">{{mode.title}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="action-button">
                        <button mat-raised-button color="accent" [@scale]="calcBtnAnimationControl.scale"
                            [disabled]="this.tickers.length === 0 || this.results!== undefined"
                            (mouseenter)="this.calcBtnAnimationControl = this.animator.animateScale()"
                            (mouseleave)="this.calcBtnAnimationControl = this.animator.initAnimation()"
                            (click)="this.calculate()">
                            Calculate
                        </button>
                    </div>
                </div>
        </mat-card-title>
        <mat-card-content class="arguments-container">
            <span id="ticker-input" class="item mat-elevation-z2">
                <app-tickers (tickers)="setTickers($event)"></app-tickers>
            </span>
        </mat-card-content>
    </mat-card>

    <mat-progress-bar *ngIf="loading" mode="buffer" color="accent"></mat-progress-bar>

    <mat-card class="output-card" [@toHeight]="this.outputCardAnimationControl.toHeight">
        <mat-card-title>
            <div class="title">
                <div>Output</div>
                <div class="action-button-group">
                    <div class="action-button">
                        <button mat-raised-button color="warn" [@scale]="this.clearBtnAnimationControl.scale"
                            (mouseenter)="this.clearBtnAnimationControl = this.animator.animateScale()"
                            (mouseleave)="this.clearBtnAnimationControl = this.animator.initAnimation()"
                            [disabled]="this.results === undefined" (click)="this.clear()">
                            Clear
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div class="result-container">
                <div class="item side-item">
                    <app-constraints [tickers]="this.tickers" [dates]="this.dates" [disabled]="this.results !== undefined"
                                    (removeTicker)="this.removeTicker($event)" (removeDates)="this.removeDates()">
                    </app-constraints>
                </div>
                <div class="item main-item" *ngIf="this.results">
                    <app-model [model]="this.modeSelection.value" [results]="this.results"></app-model>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>